.env
.idea

backend/collector
backend/coverage.out
backend/service

frontend/dashboard/node_modules
frontend/dashboard/.pnp
frontend/dashboard/.pnp.js

frontend/dashboard/coverage
frontend/dashboard/build

frontend/dashboard/npm-debug.log*